.card-title{
    font-size: 20px;
    margin-bottom: 20px;
    color: darkgrays;
    color:#7fc15e;
}
.card {
    border-top: 3px solid #e7a33e;;
}
.description{
    margin-left: 20px;
    padding-left: 12px;
    color:#969a9b;
    border-left: 5px solid #70b5f9;
}

.vert{
    color:#7fc15e;
}
.btn-send{
    float: right;
    margin: 10px 6px;
    background-color: #7fc15e;
    color: white;
    font-weight: 600;

    &:hover{
        background-color: #57883f;
        color: white;
    }
}
table{
    tr{
        td{
            h4{
                font-size: 18px !important;
                font-weight: 600;
                margin-right: 20px;
                color: rgb(97, 177, 252);
            }
        }
    }
}
